.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 2px;
  padding: 5px;
  border-radius: 10px;
}




.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  
}

header {
  margin: 0;
  display: flex;
  position: fixed;
  top:10%;
  transform: translate(-50%,);
  border-radius: 10px;
  border-bottom: 1px solid rgb(248, 245, 245); 
  background: rgb(90, 89, 84);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(12, 17, 8) 25%, rgb(11, 11, 11) 100%);
}
header div {
  margin: 0;
  padding: 8px;
  height: auto;
  border: 0px solid rgb(250, 245, 245);
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(25, 23, 3);
  background: linear-gradient(90deg, rgb(244, 246, 245) 0%, rgb(244, 115, 115) 45%, rgb(248, 246, 249) 100%);
}

header img {
  width: 50px;
  height: 40px;
  margin: 0;
  padding: 2px;
}

.dp p {
  cursor: pointer;
}

h1,
p {
  text-align: center;
}

section {
  top:20%;
  border: 5px solid black;
  border-radius: 30px;
  width: auto;
  height: auto;
  padding: 40px;
  margin: 10px;
  position: fixed;
  background: rgb(0, 200, 255);
  background: linear-gradient(90deg, rgb(250, 250, 250) 0%, rgb(156, 232, 235) 25%, rgb(3, 189, 186) 100%);
}

button {
  border: none;
  margin: 0px 5px;
  margin: 20px;
}

.gender{
  margin-top: 2vh;
  font-size: medium;
}

.gender button {
  margin-top: 10px;
  width: 150px;
  height: 80px;
  font-size: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hostel{
  font-size: 100%;
}

.hostel button {
  width: auto;
  height: auto;
  padding: 10px;
  background-color: rgb(16, 16, 16);
  color: white;
  font-size: 100%;
  
}

.floor{
  margin-top: 5vh;
  padding:10px;
  display: flex;
  flex-direction: column;
  font-size: 100%;
}

.main{
  margin: 10px;
  margin-top: 1vh;
  padding:10px;
  display: flex;
  flex-direction: column;
  
}


.rooms{
  margin: 10px;
  margin-top: 1vh;
  padding:10px;
  display: flex;
  flex-direction: column;
}


.rooms div {
  display: flex;
  justify-content: space-between;
}

.rooms button {
  height: 40px;
  width: 40px;
  color: white;
  background-color: rgb(6, 6, 6);
}

.book {
  background-color: rgb(239, 239, 244);
  color: rgb(7, 7, 7);
  width: 220px;
  padding: 10px;
}

.modal {
  margin: 10px;
  margin-top: 1vh;
  padding:10px;
  display: flex;
  flex-direction: column;
}

button:hover,
a:hover {
  cursor: pointer;
  background-color: #cf3f3f;
}

button:active {
  opacity: 0.7;
}




.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}


.dp p {
  cursor: pointer;
}



















